MONGO_URI=mongodb://127.0.0.1:27017/librarydb
JWT_SECRET=your_jwt_secret
# SMTP credentials for Nodemailer to send reset emails.
EMAIL_USER=your_gmail_address@gmail.com
EMAIL_PASS=omqs mxne mjtf yagm
FRONTEND_URL=http://localhost:5173
PORT=5000
